h1{
    border: solid;
    /* text-align:start; */
    /* text-align:end; */
    text-align:center;
    /* text-align: justify; */
}
p{
    border: solid;
    /* text-align:start; */
    /* text-align:end; */
    /* text-align:center; */
    text-align: justify;
}