/* id selector */
/* Make css alphabetical order */
.follow{
    color:coral;
    text-decoration: none;
}

#login{
    background-color: white;
}
/*#myld p  */
div[id="myld"] p{
    color:orangered;
}
#signup{
    color:white;
    background-color:red;
}

.upvote{
    color:rgb(60, 0, 255);
    background-color:rgb(183, 255, 0);
}