#main{
    border: 2px solid black;
    height: 200px;
    width: 70px;
}

.circle{
    border: 2px solid black;
    border-radius:50%;
    height: 50px;
    width: 50px;
    margin: 10px;
}

#r{
    background-color:red;
}
#y{
    background-color: yellow;
}
#g{
    background-color:green;
}