/* id selector */
/* Make css alphabetical order */
.follow p a{
    background-color:rgb(17, 172, 255);
    text-decoration: none;
}

#login{
    background-color: white;
}
/*#myld p  */
div[id="myld"] p{
    color:orangered;
}
#signup{
    color:white;
    background-color:red;
}

p + h3{
    background-color: greenyellow;
}

.upvote{
    color:rgb(60, 0, 255);
    background-color:rgb(183, 255, 0);
}
.upvote + button{
    color:rgb(11, 0, 230);
    background-color: gold;
}